#accelerate==0.34.2
aiofiles==23.2.1
aiohappyeyeballs==2.4.3
aiohttp==3.11.2
aioitertools==0.12.0
aiosignal==1.3.1
aiosqlite==0.20.0
alabaster==1.0.0
alembic==1.14.0
annotated-types==0.7.0
anyio==4.4.0
#arize-phoenix==6.1.0
#arize-phoenix-evals==0.17.5
#arize-phoenix-otel==0.6.1
asyncer==0.0.7
attrs==24.2.0
Authlib==1.3.2
babel==2.16.0
bidict==0.23.1
black==24.8.0
blinker==1.8.2
cachetools==5.5.0
certifi==2024.6.2
cffi==1.17.1
cfgv==3.4.0
chainlit==1.2.0
charset-normalizer==3.3.2
chevron==0.14.0
click==8.1.7
colorama==0.4.6
contourpy==1.3.0
cryptography==44.0.0
cycler==0.12.1
dataclasses-json==0.6.7
Deprecated==1.2.14
-e git+https://github.com/smartlawyer-ai/dictatorgen.git@53e2bd5ec30f7c6a86c2a14f8a3ff07a422f21d2#egg=dictator_gen
diffusers==0.30.3
distlib==0.3.8
distro==1.9.0
dnspython==2.6.1
docutils==0.21.2
email_validator==2.2.0
fastapi==0.111.0
fastapi-cli==0.0.4
filelock==3.15.3
filetype==1.2.0
flake8==7.1.1
Flask==3.0.3
fonttools==4.54.1
frozenlist==1.5.0
fsspec==2024.6.0
googleapis-common-protos==1.65.0
graphql-core==3.2.5
greenlet==3.1.1
grpc-interceptor==0.15.4
grpcio==1.67.0
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
httpx-sse==0.4.0
#huggingface-hub==0.23.4
identify==2.6.1
idna==3.7
imagesize==1.4.1
importlib_metadata==8.4.0
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.7.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
kiwisolver==1.4.7
langchain==0.3.7
langchain-core==0.3.18
#langchain-huggingface==0.1.2
langchain-mistralai==0.2.1
langchain-openai==0.2.8
langchain-text-splitters==0.3.2
langsmith==0.1.143
Lazify==0.4.0
literalai==0.0.607
Mako==1.3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.23.0
matplotlib==3.9.2
mccabe==0.7.0
mdurl==0.1.2
mpmath==1.3.0
multidict==6.1.0
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.3
nodeenv==1.9.1
#numpy==1.26.4
openai==1.54.4
#orjson==3.10.6
packaging==23.2
pandas==2.2.3
pathspec==0.12.1
#pillow==10.3.0
platformdirs==4.3.6
pre-commit==3.8.0
propcache==0.2.0
#protobuf==4.25.5
psutil==6.0.0
pyarrow==18.1.0
pycodestyle==2.12.1
pycparser==2.22
pydantic==2.7.4
pydantic_core==2.18.4
pyflakes==3.2.0
Pygments==2.18.0
PyJWT==2.9.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.10.1
python-multipart==0.0.9
python-socketio==5.11.4
pytz==2024.2
PyYAML==6.0.1
regex==2024.5.15
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.7.1
#safetensors==0.4.3
#scikit-learn==1.5.0
#scipy==1.13.1
#sentence-transformers==3.0.1
shellingham==1.5.4
simple-websocket==1.1.0
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
Sphinx==8.1.3
sphinx-autobuild==2024.10.3
sphinx-rtd-theme==3.0.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.36
sqlean.py==3.47.0
starlette==0.37.2
strawberry-graphql==0.243.1
sympy==1.12.1
syncer==2.0.3
tenacity==9.0.0
threadpoolctl==3.5.0
tiktoken==0.8.0
tokenizers==0.19.1
tomli==2.0.2
#torch==2.4.1
#torchaudio==2.4.1
#torchvision==0.19.1
tqdm==4.66.4
#transformers==4.41.2
typer==0.12.3
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
ujson==5.10.0
uptrace==1.27.0
urllib3==2.2.2
uvicorn==0.25.0
uvloop==0.19.0
virtualenv==20.26.5
watchfiles==0.20.0
websockets==12.0
Werkzeug==3.0.4
wrapt==1.16.0
wsproto==1.2.0
yarl==1.17.1
zipp==3.20.2
